{% extends 'src/base.html' %}

{%block title%}Sobre Nosotros{%endblock%}
{%block content%}
    <header class="masthead" style="background-color: rgb(170,114,255);margin-bottom: 5px;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div data-aos="fade-right" data-aos-duration="800" data-aos-once="true" class="site-heading" style="padding-bottom: 80px;">
                        <h1 class="page-title">Sobre Nosotros</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <hr style="background-color: rgb(170,114,255);height: 25px;margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div data-aos="fade-up" data-aos-once="true" class="col-md-10 col-lg-8 mx-auto">
                <p>Somos un grupo de jóvenes profesionales y estudiantes comprometidos con la política de la región y de la Provincia de Chaco. Nos dedicamos a estudiar las problemáticas y medidas de la provincia con el fin de entender que se ha hecho mal historicamente y tener propuestas constructivas y superadoras.
                    Tenemos como objetivo concientizar a la ciudadanía, darle las herramientas para poder tomar las mejores elecciones políticas y poder desarrollarse. </p>
                <p>Nuestro principal fin es que la ciudadanía pueda saber que medidas esta tomando la provincia y en qué esta gastando el dinero esta misma.
                    Buscamos que cada persona pueda tener más y mejores herramientas para poder elegir a sus representantes.
                    Venimos a mostrar las otras caras del prisma</p>
            </div>
        </div>
    </div>
    <hr>
{%endblock%}