{% extends 'src/base.html' %}
{%block title%}Inicio{%endblock%}
{%block content%}
<header class="masthead" style="background-color: rgb(58,6,102);margin-bottom: 5px;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading" style="padding-bottom: 80px;">
                        <h1 class="page-title">Práctica Ciudadana</h1><img class="d-none" src="assets/img/logolila.png" style="margin-top: 90px;height: 100px;"></div>
                </div>
            </div>
        </div>
</header>
<hr style="background-color: rgb(58,6,102);height: 25px;margin-top: 0px;">
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8">
            
                <div class="post-preview">
                    <h2 class="post-title">Deslogueado con exito.</h2>
                    <a href="{% url 'login'  %}">
                        <h4 class="post-subtitle"> Volver a ingresar ? </h4>   
                    </a>
                </div>
                <hr>
            

  
        </div>
    </div>
</div>
<hr>
{%endblock%}